[submodule "packages/core-sdk/protocol-contracts"]
	path = packages/core-sdk/protocol-contracts
	url = https://github.com/storyprotocol/protocol-core
	branch = main
[submodule "packages/protocol-core"]
	path = packages/protocol-core
	url = https://github.com/storyprotocol/protocol-core.git
