name: Build and Test

on:
  workflow_call:
    inputs:
      sha:
        required: true
        type: string
      ENVIRONMENT:
        required: true
        type: string
    secrets:
      RPC_PROVIDER_URL:
        required: true
      WALLET_PRIVATE_KEY:
        required: true
      TEST_WALLET_ADDRESS:
        required: true
      SEPOLIA_RPC_PROVIDER_URL:
        required: true
      SEPOLIA_WALLET_PRIVATE_KEY:
        required: true
      SEPOLIA_TEST_WALLET_ADDRESS:
        required: true
      STORY_TEST_NET_RPC_PROVIDER_URL: 
        required: true
      STORY_TEST_NET_WALLET_PRIVATE_KEY: 
        required: true
      STORY_TEST_NET_TEST_WALLET_ADDRESS:
        required: true

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    ## Example to fix envrionment secret not passing in: https://github.com/AllanOricil/workflow-template-bug/blob/master/.github/workflows/workflow-template-fix-without-required-secret.yml
    environment: ${{ inputs.ENVIRONMENT }}
    env:
      RPC_PROVIDER_URL: ${{ secrets.RPC_PROVIDER_URL }}
      WALLET_PRIVATE_KEY: ${{ secrets.WALLET_PRIVATE_KEY }}
      TEST_WALLET_ADDRESS: ${{ secrets.TEST_WALLET_ADDRESS }}
      SEPOLIA_RPC_PROVIDER_URL: ${{ secrets.SEPOLIA_RPC_PROVIDER_URL }}
      SEPOLIA_WALLET_PRIVATE_KEY: ${{ secrets.SEPOLIA_WALLET_PRIVATE_KEY }}
      SEPOLIA_TEST_WALLET_ADDRESS: ${{ secrets.SEPOLIA_TEST_WALLET_ADDRESS }}
      STORY_TEST_NET_RPC_PROVIDER_URL: ${{ secrets.STORY_TEST_NET_RPC_PROVIDER_URL }}
      STORY_TEST_NET_WALLET_PRIVATE_KEY: ${{ secrets.STORY_TEST_NET_WALLET_PRIVATE_KEY }}
      STORY_TEST_NET_TEST_WALLET_ADDRESS: ${{ secrets.STORY_TEST_NET_TEST_WALLET_ADDRESS }}

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.sha }}

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 8.8.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 20.0.0
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Fix
        run: pnpm fix

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build
