name: Conditional Workflow

on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - dev

jobs:
  Timestamp:
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    uses: storyprotocol/gha-workflows/.github/workflows/reusable-timestamp.yml@main

  pr_build_and_test:
    if: github.event_name == 'pull_request'
    needs: [Timestamp]
    uses: storyprotocol/gha-workflows/.github/workflows/reusable-build-unit-test-workflow.yml@main
    with:
      sha: ${{ github.event.pull_request.head.sha }}
      ENVIRONMENT: "beta-sepolia"
    secrets:
      WALLET_PRIVATE_KEY: ${{ secrets.WALLET_PRIVATE_KEY }}
      TEST_WALLET_ADDRESS: ${{ secrets.TEST_WALLET_ADDRESS }}
