name: Conditional Workflow for Internal PRs with Unit & Integration Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  Timestamp:
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    uses: storyprotocol/gha-workflows/.github/workflows/reusable-timestamp.yml@main

  tests:
    needs: [Timestamp]
    uses: bonnie57/gha-workflows/.github/workflows/reusable-build-test-workflow.yml@main
    with:
      sha: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
      ENVIRONMENT: "odyssey"
    secrets:
      WALLET_PRIVATE_KEY: ${{ secrets.WALLET_PRIVATE_KEY }}
      TEST_WALLET_ADDRESS: ${{ secrets.TEST_WALLET_ADDRESS }}
